.imagem-carrosel {
    object-fit: cover;
    object-position: 0 30%;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}


.fonte-titulo-especial {
    font-family: 'Pacifico', cursive;
    color: rgb(166, 23, 23);
}

.fonte-titulo-carrosel {
    font-family: 'Pacifico', cursive;
    color: orange;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: red;
    font-size: 2em;
}