.card-largura {
    max-width: 18rem;
}

.imagem-carrosel {
    object-fit: cover;
    object-position: 0 30%;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}


.cor-especial {
    color: rgb(166, 23, 23);
}

.fonte-titulo-carrosel {
    font-family: 'Pacifico', cursive;
    color:white;
}


#bt-cor-especial {
    background-color: darkred;
    color: white;
}

#borda-cor-especial {
    border-color: darkred;

}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}






.logo {
    font-family: 'Pacifico', cursive;
    color: red;
    font-size: 2em;
}